
.app
  display: flex
  flex-flow: column

  .header
    height: 8vh
    padding: 0 10vw
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $red
    color: $snow
    font:
      family: AvenirNextLTProBold
      size: 30

  .main
    height: 100%
    background-color: $dark
    color: $snow
