
.app
  display: grid
  grid-template-rows: max-content auto min-content

  .header
    height: 8vh
    padding: 0 10vw
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $red
    color: $snow
    font:
      family: AvenirNextLTProBold
      size: 30

    &--account
      display: flex
      align-items: flex-start
      .login, .register
        cursor: pointer
        padding: 5 20 3 20
        border-radius: 100px
        color: black
        background-color: $yellow
        font:
          size: 18
          weight: 900
          family: GillSans
      .login
        margin-right: 20
      .register
        background-color: $yellow

  .main
    height: 100%
    background-color: $dark
    color: $snow
    display: grid
    grid-template-columns: max-content auto
    grid-template-rows: auto max-content

    &--sidebar
      margin: 50 0
      background-color: $dark
      border-right: 1px solid #202020
      padding: 20 0
      display: flex
      flex-flow: column
      align-items: center
      .info
        margin: 0 50
        font:
          family: AvenirNextLTProBold
          size: 25
        margin-bottom: 20
      .buttons
        display: flex
        & > div
          margin: 0 10
          background-color: $yellow
          padding: 5 20 3 20
          border-radius: 100px
          color: $dark
          font:
            family: GillSans
            size: 18
            weight: 900

      .sidebar--options
        .options
          font:
            family: GillSans
            size: 25
            weight: 900
          .option
            cursor: pointer
            text-align: center
            border-bottom: 1px solid #202020
            padding: 15 60 10 60
            &.selected
              background-color: $deep-red
              color: white
            &:hover
              background-color: $red
              color: white



    &--content
      // background-color: white

    .player
      min-height: 8vh
      background-color: $rich-black
      grid-column: 1 / -1
