
@font-face
  src: url(../assets/fonts/Avenir-Next-Font/AvenirNextLTPro-Bold.otf)
  font-family: AvenirNextLTProBold
  
@font-face
  src: url(../assets/fonts/Cabin/Cabin-Regular.ttf)
  font-family: CabinRegular

@font-face
  src: url(../assets/fonts/GillSans.ttf)
  font-family: GillSans

@font-face
  src: url(../assets/fonts/AvenirNextLTPro-Cn.otf)
  font-family: AvenirNextLTPro

@font-face
  src: url(../assets/fonts/BonvenoCF-Light.otf)
  font-family: BonvenoCF

@font-face
  src: url(../assets/fonts/Gotham-Font/GothamMedium.ttf)
  font-family: GothamMedium

@font-face
  src: url(../assets/fonts/Gotham-Font/Gotham-Black.otf)
  font-family: GothamBlack

@font-face
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf)
  font-family: MontserratBold

@font-face
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf)
  font-family: MontserratMedium

@font-face
  src: url(../assets/fonts/Open_Sans/OpenSans-Bold.ttf)
  font-family: OpenSansBold

@font-face
  src: url(../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf)
  font-family: OpenSansSemiBold

@font-face
  src: url(../assets/fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf)
  font-family: PTSansRegular

@font-face
  src: url(../assets/fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf)
  font-family: PTSansBold

@font-face
  src: url(../assets/fonts/Raleway/Raleway-SemiBold.ttf)
  font-family: RalewayBold

input
  outline: none


$smoky-black: #13070C
$red: #D12323
$yellow: #FFBE0B
$dark-blue: #011627
$prussian-blue: #003459
$deep-red: #B80C09
$snow: #FBFAF8
$green: #698F3F
$dark-brown: #190F00
$dark: #0F0000
$rich-black: #040F16
$blue: #3067FF
$cyan: #1D84B5
$pink: #9D858D

@import './app.sass'
@import './auth-screen.sass'

html, body, #react-app, .app
  cursor: default
  height: 100vh
  width: 100vw
  margin: 0
  padding: 0
  overflow: hidden
